.add__form {
  position: relative;
  margin-bottom: 80px;

  .select__collection {
    width: 75%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    outline: none;
  }

  .add__item__btn {
    position: absolute;
    z-index: 1;
    top: 255px;
    right: 0;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #0066cc;
    color: wheat;
    outline: none;
  }

  .add__item__btn:hover {
    cursor: pointer;
    border: 2px solid #0066cc;
    background-color: white;
    color: #0066cc;
    font-size: 18px;
  }
}