.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title__container {
    display: flex;
    color: #638683;
    font-family: 'Playfair Display',serif;

    .title {
      cursor: pointer;
      font-size: 28px;
      margin-bottom: 25px;
      text-transform: capitalize;
      transition: all 0.3s ease-out;

      &:hover {
        color: #3f5554;
        transform: scale(1.2) translateX(15px);
      }

      i {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .collection-preview {
    align-items: center;

    .preview {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}

@media screen and(max-width: 380px) {
  .collection-preview {

    .preview {
      grid-template-columns: 1fr;
    }
  }
}
